{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="account-container">
        <div class="account">
            <!-- Horizontal Navigation -->
            <div class="container navigation-container">
                <nav class="navigation-buttons text">
                    <a href="{% url 'account-detail' %}">Profile</a>
                    <a href="{% url 'workout-plans-list' %}">training</a>
                    <a href="#">nutrition</a>
                    <a href="#">recovery</a>
                    <a href="#">videos</a>
                </nav>
            </div>

            <!-- Account Content -->
            {% block account-content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}