.account-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* Main container styling */
.account {
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background: #333; /* Semi-transparent white background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.account-message-content {
    padding: 20px;
    margin: 20px;
    background-color: #34495e;
    border-radius: 8px;
}

.account-admin {
    padding: 20px;
    margin: 20px;
    background-color: #c21500;
    border-radius: 8px;
}


/* Account content styling */
.account-content {
    padding: 20px;
}

.trainer-message-box {
    background-color: #34495e;
    padding: 20px;
    border-left: 5px solid #4caf50;
    margin: 20px 0;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}
.trainer-message-box h2, h3 {
    margin-top: 0;
}
.trainer-message-box ul {
    padding-left: 20px;
}


.split-container {
    display: flex;
    align-items: center;
}

.split-container img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.split-text-content {
    padding: 0 50px;
}

/*Account List*/
.account-list-boxes a{
    color: greenyellow;
}

.account-list-boxes p {
    color: red;
}

.admin-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 50px;
    border-radius: 12px;
    background-color: #333;
}

.admin-container a {
    color: red;
}

.admin-container .active-green a {
    color: limegreen;
}

.admin-container .not-active-red a {
    color: red;
}