{% extends 'common/base.html' %}

{% block content %}
    <div class="admin-container">
        <h2>Nutrition Plans List</h2>

        {% if nutrition_plans %}
            <ol class="active-green">
                {% for nutrition_plan in nutrition_plans %}
                    <li>
                        <a href="{% url 'nutrition-plan-details' slug=nutrition_plan.user.profile.slug pk=nutrition_plan.pk %}">
                            {{ nutrition_plan.name }} - {{ nutrition_plan.user.email }}</a><br>
                    </li>
                {% endfor %}
            </ol>

        {% else %}
            <p>No workouts existing.</p>
        {% endif %}

    </div>
{% endblock %}