{% extends 'common/base.html' %}

{% block content %}
    <div class="admin-container">
        <h2>Edit Meal: {{ meal.name }}</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>


        <hr>
        <form method="post" action="{% url 'delete-meal-template' meal.pk %}" onsubmit="return confirmDelete();">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">🗑️ Delete Meal</button>
        </form>

        <script>
            function confirmDelete() {
                return confirm("Do you really want to delete this meal?");
            }
        </script>
    </div>
{% endblock %}