{% extends 'account/profile-base.html' %}
{% load static %}

{% block account-content %}
    {% if nutrition_plans %}
        <div class="table-container">
            <div class="plan-lists-container">
                <h2>Nutrition Plans</h2>
                <ul class="plan-list">
                    {% for nutrition_plan in nutrition_plans %}
                        <li>
                            <a href="{% url 'nutrition-plan-details' slug=nutrition_plan.user.profile.slug pk=nutrition_plan.pk %}"
                               class="workout-link">
                                {{ nutrition_plan.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="no-programs-yet-container">
            <div class="no-programs-image">
                <img src="{% static 'assets/images/boxing-gloves-blueprint.png' %}" alt="no-programs-image">
            </div>
            <div class="no-programs-content">
                <h2>
                    You don't have any nutrition plans available yet.
                </h2>
                <p>
                    If you've purchased a personal training plan, your trainer may need a little time to create
                    a customized plan just for you. This process usually takes up to 2–3 business days.
                    If you haven't heard back from your trainer after that, please don't hesitate to contact us —
                    we're here to help!
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
