{% extends 'account/profile-base.html' %}

{% block account-content %}
    <div class="table-container">
        {% if user.is_staff %}
            <h2>{{ nutrition_plan }}</h2>
            <p>
                <a href="{% url 'nutrition-plan-edit' nutrition_plan.pk %}">Edit Nutrition Plan</a> |
                <a href="{% url 'create-meal' nutrition_plan.pk %}">Add Meal</a> |
                <a href="{% url 'create-supplement' nutrition_plan.pk %}">Add Supplement</a>
            </p>
        {% else %}
            <h2>{{ nutrition_plan.name }}</h2>
        {% endif %}

        <div class="plan-nutrition-details">
            <p><strong>Description:</strong> {{ nutrition_plan.description }}</p>
        </div>

        <div class="plan-nutrition-details">
            <h3>Plan Overview</h3>
            <div class="plan-stats">
{#                <div class="plan-item">#}
{#                    <span class="label">Description</span>#}
{#                    <span class="value">{{ nutrition_plan.description }}</span>#}
{#                </div>#}
                <div class="plan-item">
                    <span class="label">Target Calories</span>
                    <span class="value">{{ nutrition_plan.target_calories }}kcal</span>
                </div>
                <div class="plan-item">
                    <span class="label">Protein</span>
                    <span class="value">{{ nutrition_plan.protein_grams }}g</span>
                </div>
                <div class="plan-item">
                    <span class="label">Carbs</span>
                    <span class="value">{{ nutrition_plan.carbs_grams }}g</span>
                </div>
                <div class="plan-item">
                    <span class="label">Fats</span>
                    <span class="value">{{ nutrition_plan.fats_grams }}g</span>
                </div>
            </div>
        </div>


        {% if nutrition_plan.trainer_notes %}
            <div class="notes-container">
                <h3>Trainer Notes</h3>
                <ul class="note-list">
                    {% for note in nutrition_plan.trainer_notes.splitlines %}
                        <li>{{ note }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if nutrition_plan.meal_timing_notes %}
            <div class="notes-container">
                <h3>Meal Timing Notes</h3>
                <ul class="note-list">
                    {% for note in nutrition_plan.meal_timing_notes.splitlines %}
                        <li>{{ note }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


        <div class="meals-container">
            <h2>Meals</h2>
            {% if not meals %}
                <p>No meals added yet.</p>
            {% endif %}
            {% if breakfast %}
                <div class="time-meal-container">
                    <h3>Breakfast</h3>
                    {% for meal in breakfast %}
                        <div class="inner-table-container">
                            <h4>{{ meal.meal_template.name }}</h4>
                            {% if user.is_staff %}
                                <p>
                                    <a href="{% url 'edit-meal' meal.pk %}">Edit Meal</a>
                                </p>
                            {% endif %}
                            <p><strong>Calories:</strong> {{ meal.meal_template.calories }}kcal</p>
                            <p><strong>Protein:</strong> {{ meal.meal_template.protein_grams }}g |
                                <strong>Carbs:</strong> {{ meal.meal_template.carbs_grams }}g |
                                <strong>Fats:</strong> {{ meal.meal_template.fats_grams }}g</p>
                            <p><strong>Foods:</strong> {{ meal.meal_template.foods_description }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if morning_snack %}
                <div class="time-meal-container">
                    <h3>Morning Snack</h3>
                    {% for meal in breakfast %}
                        <div class="inner-table-container">

                            <h4>{{ meal.meal_template.name }}</h4>
                            {% if user.is_staff %}
                                <p>
                                    <a href="{% url 'edit-meal' meal.pk %}">Edit Meal</a>
                                </p>
                            {% endif %}
                            <p><strong>Calories:</strong> {{ meal.meal_template.calories }}</p>
                            <p><strong>Protein:</strong> {{ meal.meal_template.protein_grams }}g |
                                <strong>Carbs:</strong> {{ meal.meal_template.carbs_grams }}g |
                                <strong>Fats:</strong> {{ meal.meal_template.fats_grams }}g</p>
                            <p><strong>Foods:</strong> {{ meal.meal_template.foods_description }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if lunch %}
                <div class="time-meal-container">
                    <h3>Lunch</h3>
                    {% for meal in breakfast %}
                        <div class="inner-table-container">

                            <h4>{{ meal.meal_template.name }}</h4>
                            {% if user.is_staff %}
                                <p>
                                    <a href="{% url 'edit-meal' meal.pk %}">Edit Meal</a>
                                </p>
                            {% endif %}
                            <p><strong>Calories:</strong> {{ meal.meal_template.calories }}</p>
                            <p><strong>Protein:</strong> {{ meal.meal_template.protein_grams }}g |
                                <strong>Carbs:</strong> {{ meal.meal_template.carbs_grams }}g |
                                <strong>Fats:</strong> {{ meal.meal_template.fats_grams }}g</p>
                            <p><strong>Foods:</strong> {{ meal.meal_template.foods_description }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if afternoon_snack %}
                <div class="time-meal-container">
                    <h3>Afternoon Snack</h3>
                    {% for meal in breakfast %}
                        <div class="inner-table-container">

                            <h4>{{ meal.meal_template.name }}</h4>
                            {% if user.is_staff %}
                                <p>
                                    <a href="{% url 'edit-meal' meal.pk %}">Edit Meal</a>
                                </p>
                            {% endif %}
                            <p><strong>Calories:</strong> {{ meal.meal_template.calories }}</p>
                            <p><strong>Protein:</strong> {{ meal.meal_template.protein_grams }}g |
                                <strong>Carbs:</strong> {{ meal.meal_template.carbs_grams }}g |
                                <strong>Fats:</strong> {{ meal.meal_template.fats_grams }}g</p>
                            <p><strong>Foods:</strong> {{ meal.meal_template.foods_description }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if dinner %}
                <div class="time-meal-container">
                    <h3>Dinner</h3>
                    {% for meal in breakfast %}
                        <div class="inner-table-container">

                            <h4>{{ meal.meal_template.name }}</h4>
                            {% if user.is_staff %}
                                <p>
                                    <a href="{% url 'edit-meal' meal.pk %}">Edit Meal</a>
                                </p>
                            {% endif %}
                            <p><strong>Calories:</strong> {{ meal.meal_template.calories }}</p>
                            <p><strong>Protein:</strong> {{ meal.meal_template.protein_grams }}g |
                                <strong>Carbs:</strong> {{ meal.meal_template.carbs_grams }}g |
                                <strong>Fats:</strong> {{ meal.meal_template.fats_grams }}g</p>
                            <p><strong>Foods:</strong> {{ meal.meal_template.foods_description }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if evening_snack %}
                <div class="time-meal-container">
                    <h3>Evening Snack</h3>
                    {% for meal in breakfast %}
                        <div class="inner-table-container">

                            <h4>{{ meal.meal_template.name }}</h4>
                            {% if user.is_staff %}
                                <p>
                                    <a href="{% url 'edit-meal' meal.pk %}">Edit Meal</a>
                                </p>
                            {% endif %}
                            <p><strong>Calories:</strong> {{ meal.meal_template.calories }}</p>
                            <p><strong>Protein:</strong> {{ meal.meal_template.protein_grams }}g |
                                <strong>Carbs:</strong> {{ meal.meal_template.carbs_grams }}g |
                                <strong>Fats:</strong> {{ meal.meal_template.fats_grams }}g</p>
                            <p><strong>Foods:</strong> {{ meal.meal_template.foods_description }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="meals-container">
            <h2>Supplements</h2>
            {% for supplement in nutrition_plan.supplements.all %}
                <div class="inner-table-container">
                    <p><strong>{{ supplement.supplement_template.name }}</strong>{% if supplement.dosage %} –
                        {{ supplement.dosage }}{% endif %}
                    </p>
                    {% if user.is_staff %}
                        <p><a href="{% url 'edit-supplement' supplement.pk %}">Edit Supplement</a></p>
                    {% endif %}
                    {% if supplement.protein_grams %}
                        <p><strong>Grams:</strong> {{ supplement.protein_grams }}g</p>
                    {% endif %}
                </div>
            {% empty %}
                <p>No supplements added yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
