{% extends 'common/base.html' %}

{% block content %}
    <div class="shop-main">
        <div class="shop-container">
            <h2 class="heading-title">ONLINE SHOP</h2>
        </div>
        <div class="shop-section">
            <div class="shop-container text">
                <p class="text">Welcome to our online shop! Here you can find a wide range of high-quality products designed to enhance your fitness journey. Whether you're looking for workout gear, training programs, or nutrition essentials, we have something for everyone. Explore our collection and take your fitness to the next level!</p>
            </div>

            {% for product in products %}
                {% if forloop.first or forloop.counter0|divisibleby:3 %}
                    <div class="shop-container">
                {% endif %}
                
                <a href="{% url 'product-detail' product.pk %}">
                {% include 'product/product-card.html' %}
                </a>

            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div> {# Closes .shop-container after every three cards #}
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
