{% extends 'common/base.html' %}

{% block content %}
    <div class="admin-container">
        <h2>Edit Day</h2>
        <h3>Day {{ day.name }} ---> {{ day.period }} of {{ day.period.workout_plan }}</h3>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>


        <hr>
        <form method="post" action="{% url 'day-delete' day.pk %}" onsubmit="return confirmDelete();">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">🗑️ Delete Day</button>
        </form>

        <script>
            function confirmDelete() {
                return confirm("Do you really want to delete this day?");
            }
        </script>
    </div>
{% endblock %}