{% extends 'common/base.html' %}

{% block content %}
    <div class="table-container">
        <h2>Edit Workout Plan: {{ workout_plan.name }}</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>


        <hr>
        <form method="post" action="{% url 'workout-plan-delete' workout_plan.pk %}" onsubmit="return confirmDelete();">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">🗑️ Delete Workout plan</button>
        </form>

        <script>
            function confirmDelete() {
                return confirm("Do you really want to delete this Workout?");
            }
        </script>
    </div>
{% endblock %}