{% extends 'common/base.html' %}

{% block content %}
    <div class="admin-container">
        <h2>Recovery Plans List</h2>

        {% if recovery_plans %}
            <ol class="active-green">
                {% for recovery_plan in recovery_plans %}
                    <li>
                        <a href="{% url 'recovery-plan_details' slug=recovery_plan.user.profile.slug pk=recovery_plan.pk %}">{{ recovery_plan.name }}
                            - {{ recovery_plan.user.email }}</a><br>
                    </li>
                {% endfor %}
            </ol>

        {% else %}
            <p>No workouts existing.</p>
        {% endif %}

    </div>
{% endblock %}