{% extends 'common/base.html' %}

{% block content %}
    <div class="table-container">
        <h2>Edit Recovery Plan </h2>
        <h3>{{ recovery_plan.name }} if {{ recovery_plan.user.profile.get_full_name }}</h3>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>


        <hr>
        <form method="post" action="{% url 'recovery-delete' recovery_plan.pk %}" onsubmit="return confirmDelete();">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">🗑️ Delete Recovery Plan</button>
        </form>

        <script>
            function confirmDelete() {
                return confirm("Do you really want to delete this recovery plan?");
            }
        </script>
    </div>
{% endblock %}