{% extends 'account/profile-base.html' %}

{% block account-content %}
    <div class="table-container">

        {% if user.is_staff %}
            <h2>{{ recovery_plan }}</h2>
            <p>
                <a href="{% url 'recovery-edit' recovery_plan.pk %}" class="btn-warning"    >Edit Recovery Plan</a>
            </p>
        {% else %}
            <h2>{{ recovery_plan.name }}</h2>
        {% endif %}

        {% if recovery_plan.description %}
            <div class="plan-nutrition-details">
                <p><strong>Description:</strong> {{ recovery_plan.description }}</p>
            </div>
        {% endif %}

        {% if recovery_plan.active_recovery %}
            <div class="notes-container">
                <h3>Active Recovery</h3>
                <ul class="note-list">
                    {% for item in recovery_plan.active_recovery.splitlines %}
                        {% if item %}
                            <li>{{ item }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if recovery_plan.sleep_and_rest %}
            <div class="notes-container">
                <h3>Sleep & Rest</h3>
                <ul class="note-list">
                    {% for item in recovery_plan.sleep_and_rest.splitlines %}
                        {% if item %}
                            <li>{{ item }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if recovery_plan.self_care %}
            <div class="notes-container">
                <h3>Self-Care & Stress Management</h3>
                <ul class="note-list">
                    {% for item in recovery_plan.self_care.splitlines %}
                        {% if item %}
                            <li>{{ item }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if recovery_plan.monitoring_follow_up %}
            <div class="notes-container">
                <h3>Monitoring & Follow-Up</h3>
                <ul class="note-list">
                    {% for item in recovery_plan.monitoring_follow_up.splitlines %}
                        {% if item %}
                            <li>{{ item }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
