<footer class="footer">
    <div class="footer-container">
        <div class="footer-group">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="{% url 'about-us' %}">about us</a></li>
                    <li><a href="{% url 'home' %}">our services</a></li>
                    <li><a href="{% url 'articles-home' %}">articles</a></li>
                    <li><a href="{% url 'business-card' %}">Connect & Learn</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="{% url 'about-us' %}">FAQ</a></li>
                    <li><a href="{% url 'contact-me' %}">contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-group">
            <div class="footer-col">
                <h4>Training plans</h4>
                <ul>
                    <li><a href="">martial arts</a></li>
                    <li><a href="#">body building</a></li>
                    <li><a href="">nutrition</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
