{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="main-container">
        <div class="container resume">
            <div class="hero">
                <div class="image-wrapper">
                    <img src="{% static 'assets/images/ivan.jpg' %}" alt="Fitness Trainer" class="image-resume">
                </div>
                <div class="text-content">
                    <h2 class="underline-text heading-title">Meet Your Trainer</h2>
                    <p class="subtitle">Certified Fitness Coach & Nutrition Expert</p>
                    <p>With over 10 years of experience in the fitness industry, I specialize in helping
                        clients achieve their goals through personalized training programs and sustainable lifestyle
                        changes. Whether you're looking to build strength, lose weight, or improve overall wellness, I’m
                        here to guide you every step of the way.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur temporibus
                        dicta
                        sunt? Laborum labore enim magnam eligendi neque voluptas aspernatur excepturi temporibus et
                        fugiat
                        quas sapiente consequuntur, similique nulla harum!</p>
                    <ul class="trainer-skills">
                        <li>Personalized Training Plans</li>
                        <li>Nutrition Guidance</li>
                        <li>Strength & Conditioning</li>
                        {#                        <li>Mind-Body Balance</li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="best-seller">
        <div class="container best-seller-inner-container">
            <!-- Left Column -->
            <div class="best-seller-column">
                <div class="widget">
                    <h2>NEW RELEASE</h2>
                </div>

                <div class="best-seller-img">
                    <img src="{% static 'assets/images/poster.png' %}" alt="Book Cover" width="450" height="auto">
                </div>
            </div>

            <!-- Right Column -->
            <div class="best-seller-column-content">
                <div class="widget">
                    <h4>
                        Your Ultimate Evidence-Based Guide to Strength and Conditioning for Wrestling.
                    </h4>
                </div>
                <!-- Heading -->
                <div class="widget learn-text">
                    <h2>You will learn...</h2>
                </div>

                <!-- Icon List -->
                <div class="widget">
                    <ul class="icon-list">
                        <li>
                            <span class="icon"><i class="fa fa-check-circle"
                                                  style="font-size:28px;color:green"></i></span>
                            <span>The physical and psychological traits of successful wrestlers.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-check-circle"
                                                  style="font-size:28px;color:green"></i></span>
                            <span>Key principles like individualization, variation, sport-specificity, and progressive overload.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-check-circle"
                                                  style="font-size:28px;color:green"></i></span>
                            <span>How to build a strong mindset and gain a clear focus.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-check-circle"
                                                  style="font-size:28px;color:green"></i></span>
                            <span>How to develop strength, explosive power, and endurance.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-check-circle"
                                                  style="font-size:28px;color:green"></i></span>
                            <span>Strategies to maximize athletic gains while minimizing fatigue, burnout, and injury risk.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-check-circle"
                                                  style="font-size:28px;color:green"></i></span>
                            <span>Periodization and program design tailored to each phase of the season.</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <div class="main-container">
        <div class="products">
            <div class="header">
                <h2 class="heading-title">Other Products/Programs</h2>
                <p>Explore our other products and programs. Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Reprehenderit corporis aspernatur adipisci qui mollitia facere inventore placeat.
                    Porro voluptas labore suscipit non repellat magnam in?
                </p>
            </div>
            <div class="card-container">
                {% for product in first_products %}
                    {% include 'common/home-product-card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="hero2">
        <div class="hero2-inner">
            <div class="collage">
                <!-- Top Set -->
                <div class="collage-container">
                    <div class="big-img">
                        <img src="{% static 'assets/images/fight/mma-woman.jpg' %}" alt="Image 1">
                    </div>
                    <div class="sml-img ">
                        <img src="{% static 'assets/images/fight/mma-woman2.jpg' %}" alt="Image 2">
                    </div>
                    <div class="sml-img ">
                        <img src="{% static 'assets/images/fight/mma-woman9.jpg' %}" alt="Image 3">
                    </div>
                </div>
                <div class="collage-container">
                    <div class="sml-img ">
                        <img src="{% static 'assets/images/fight/mma-woman5.jpg' %}" alt="Image 4">
                    </div>
                    <div class="sml-img ">
                        <img src="{% static 'assets/images/fight/mma-woman6.jpg' %}" alt="Image 5">
                    </div>
                    <div class="big-img">
                        <img src="{% static 'assets/images/fight/mma-woman4.jpg' %}" alt="Image 6">
                    </div>
                </div>
            </div>

            <div class="right-container">
                <h1 class="underline-text">Your Title Here</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste a, sit magni
                    unde reiciendis asperiores
                    possimus praesentium deserunt facere excepturi, nobis cumque? Sint, iure obcaecati harum, recusandae
                    eligendi atque perspiciatis, temporibus dolor rerum mollitia asperiores unde omnis eius minus sit
                    facere. Expedita adipisci soluta earum dignissimos eaque laboriosam officiis, illum, itaque, ipsum
                    consequuntur corrupti rem voluptatum non ducimus numquam! Maxime dicta officiis dolorum dolor
                    expedita, magni perferendis enim hic nulla perspiciatis, facilis, assumenda at dignissimos sunt.
                </p>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="products">
            <div class="header">
                <h2 class="heading-title">Other Products/Programs</h2>
                <p>Explore our other products and programs. Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Reprehenderit corporis aspernatur adipisci qui mollitia facere inventore placeat.
                    Porro voluptas labore suscipit non repellat magnam in?
                </p>
            </div>
            <div class="card-container">
                {% for product in second_products %}
                    {% include 'common/home-product-card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="main-container">
        <div class="videos-content">
            <div class="video-text">
                <h2 class="underline-text heading-title">Lorem, ipsum dolor sit</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore doloribus
                    necessitatibus unde delectus?
                </h3>
            </div>
            <div class="videos">
                <div class="video-container">
                    <div class="youtube-video-content">
                        <iframe
                                src="https://www.youtube.com/embed/722A27IoQnk"
                                frameborder="0"
                                allowfullscreen
                        ></iframe>
                    </div>
                </div>
                <div class="video-container">
                    <div class="youtube-video-content">
                        <iframe
                                src="https://www.youtube.com/embed/dHSQAEam2yc"
                                frameborder="0"
                                allowfullscreen
                        ></iframe>
                    </div>
                </div><div class="video-container">
                    <div class="youtube-video-content">
                        <iframe
                                src="https://www.youtube.com/embed/G1p6rlDCxq0"
                                frameborder="0"
                                allowfullscreen
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="about">
            <h2 class="heading-title">About</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, placeat quod,
                nostrum quia veritatis quis soluta aperiam, non dicta quo necessitatibus ex esse vero labore corrupti
                eligendi facere cum illum consequatur iure magnam quibusdam reiciendis. Deserunt, voluptas ab cum vel
                tempora atque in culpa nostrum, corrupti commodi animi saepe repellendus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, ex sit, excepturi
                soluta commodi doloremque aperiam architecto, eum incidunt deserunt voluptatum? Illum non cum eos
                quibusdam aliquid harum officia rerum.50</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aut quo, fugiat dicta
                temporibus labore explicabo soluta. Quis ex velit nulla officia earum error, maxime provident ducimus,
                aliquid in facere voluptates ullam, mollitia unde ad. Delectus, ab dolore iusto quos dolor quas unde
                vitae nam, accusamus numquam deleniti nostrum id.</p>
        </div>
    </div>
{% endblock %}