{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <article>
        <h2 class="heading-title">{{ article.name }}</h2>
        <h3>{{ article.brief_description }}</h3>
        <p>{{ article.paragraph1 }}</p>
        <figure><img src="{{ article.image1.url }}" />
            <figcaption>Lil Bub, a Hoosier cat who became internet famous and helped her owners raise thousands of
                dollars for homeless pets</figcaption>
        </figure>
        <h3>{{ article.name }}</h3>
        <p>{{ article.paragraph2 }}</p>
        <div class="right"><img
                src="{{ article.image2.url }}" />
            <p><em>Source:</em> Photo credit or caption could be added here. The example below shows a floating image
                with no caption.</p>
        </div>
        <p>{{ article.paragraph2 }}</p>
        <p>{{ article.paragraph3 }}</p>
        <p>{{ article.paragraph4 }}</p>
        <p>{{ article.paragraph5 }}</p>
        <p>{{ article.paragraph6 }}</p>
        <p>{{ article.paragraph6 }}</p>
        <h3>{{ article.name }}</h3>
        <div class="left"><img
                src="{{ article.image3.url }}"
                alt="Portrait of Lil Bub sitting on a blanket" /></div>
        <p>{{ article.paragraph7 }}.</p>
        <p>{{ article.paragraph8 }}.</p>
        <p>{{ article.paragraph9 }}</p>
        <p>{{ article.paragraph10 }}</p>
        <p>{{ article.paragraph10 }}</p>
        <p>{{ article.paragraph10 }}</p>

    </article>
{% endblock %}